
# ignore these folders
checkpoint/
data/*
data
input/
output/
output*/
temp/
wandb/
wandb
venv/
cache/
logs/
logs_2/
logs*/
logs*
diffusers_custom
**/.ipynb_checkpoints/
.vscode/
.idea
oss*
cache/*
cache/
.ossutil*
*egg-info
build/*
*so
geobench/dust3r/layers/curope/build/*
geobench/dust3r/layers/curope/curope.cpython-39-x86_64-linux-gnu.so

# ignore these types
*.pyc
*.out
*.log
*.mexa64
*.pdf
*.tar
